.NavBar {
  background-color: #7fdbff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

.NavBar-right a {
  padding-left: 1rem;
}

.NavBar-link {
  text-shadow: 1px 1px black;
  color: white;
  font-size: large;
  font-weight: 600;
  text-decoration: none;
}

.NavBar-link.active {
  font-weight: 900;
  text-shadow: 1px 1px white;
  color: black;
}
